extends layout

block content
	div(class='container-fluid')
		div(class='row')
			div(class='well well-lg text-center')
				h1(class='panax-title') PANAX
				p Welcome to PanaxUI Node.js Backend
		div(class='row')
			div(class='text-center')
				div(class='btn-group')
					a(class='btn btn-primary btn-lg' href='/info') Connection Info
					a(class='btn btn-primary btn-lg' href='/api') API Description
				hr
				h2 Available GUIs
				div(class='list-group col-md-4 col-md-offset-4')
					each val in config.enabled_guis
						a(class='list-group-item' href='/gui/' + val)
							h3= config.guis[val].description