body {
  font-family: 'Roboto Condensed', sans-serif;;
}

.jumbotron .container {
	text-align: center;
}

.jumbotron .panax-title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 80px;
	color: #4675d3;
}